*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Averta CY W10;
}

*::selection {
    color: #ffff;
    background-color: #000;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
    cursor: none;
}
.cursor{    
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 9;
}
#page1{
    width: 100%;
}
.nav{
    width: 100%;
    height: 10vh;
    padding: 0 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav img{
    width: 10vw;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 3vw;
}
.nav-right a{
    text-decoration: none;
    color: #000;
    font-size: 1.22vw;
    font-weight: 500;
    letter-spacing: -1px;
}
.nav-right i{
    font-size: 1.3vw;
    font-weight: 500;
}
.page1-main{
    width: 100%;
    padding: 15vw 15vw;
    line-height: 1.3;
}
.page1-main h2{
    font-size: 1.4vw;
    font-weight: 600;
    letter-spacing: -.7px;
}
.page1-main .inner{
    display: flex;
    align-items: center;
    gap: 2vw;
}
.page1-main .inner h1{
    font-size: 7.3vw;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1.2px #000;
}
.page1-last{
    width: 100%;
    padding: 0vw 15vw;
}
.page1-last p{
    width: 44vw;
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: -.5px ;
}
.featured {
    padding: 10vw 15vw;
}
.fheading>h1 {
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}
.fheading>h1:nth-child(2) {
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
.element{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 5vw;
}
.fleft {
    width: 45%;
    height: inherit;
}

.fleft-elm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}
.fleft-elm h1 {
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1.5vw 0;
}
.fleft-elm h3 {
    font-size: 1.3vw;
    font-weight: 400;
}

.fleft-elm h4 {
    opacity: .5;
}
.fright{
    width: 45%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.fimg{
    height: 90%;
    width: 90%;
    overflow: hidden;
}
.fimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn>button{
    padding: 1vw 2vw;
    border-radius: 50px;
    background-color: #fff;
    color: #000;
    border: 1.5px solid gray;
    font-size: 1.2vw;
    font-weight: 500;
    letter-spacing: -.7px;
}
#page2{
    width: 100%;
}
.page2-start{
    padding: 5vw 15vw;
    width: 70%;
}
.page2-start>h1{
    font-size: 4.4vw;
    font-weight: 500;
    letter-spacing: -.7px;
    line-height: 1;
}
.page2-start>p{
    margin-top: 3vw;
    font-size: 1.4vw;
    font-weight: 500;
    letter-spacing: -.7px ;
}
.page2-last{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 10vw;
}
.box{
    width: 30%;
}
.box .img{
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}
.box .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .tag{
    font-size: 1vw;
    margin: 1vw 0;
    width: max-content;
    background-color: #f7f7f7;
    padding: .7vw 1vw;
    border-radius: 50px;
}
.box h3{
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -.5px;
}